[submodule "themes/dot"]
	path = themes/dot
	url = https://github.com/themefisher/dot-hugo-documentation-theme.git
[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/budparr/gohugo-theme-ananke.git
[submodule "public/public"]
	path = public/public
	url = git@github.com:msqintian/msqintian.github.io.git
	branch = master
